@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #78ac7e;
    --second-color: #794afa;
    --second-dark-color: #0A2647;

    --white-color: #ffff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c8999a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    --font-small: 13px;
    --font-smaller: 11px;

    --porcentaje100: 100%;
    --porcentaje50: 50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
}

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/*aspectos generales*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

img {
    max-width: var(--porcentaje100);
    vertical-align: middle;
}

strong {
    font-weight: var(--fw8);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input ::placeholder {
    font: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: calc(1.3em + 1vw);
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: var(--fw7);
}

h4 {
    font-size: 3em;
    font-weight: var(--fw6);
}

/*fin*/


/*seccion reusable*/

.container-tienda {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.938em;
}

.column {
    margin-left: -0.938em;
    margin-right: -0.938em;
}

.column .row {
    padding: 0 0.938em;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem {
    display: flex;
    align-items: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-links a:hover {
    color: var(--second-color)
}

.second-links a:hover {
    color: var(--light-text-color);
}

.icon-small,
.icon-large {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}

.icon-small {
    font-size: 1.25em;
    margin-left: auto;
}

.icon-large {
    font-size: 1.75em;
    padding: 0 0.75em;
}

.mobile-hide {
    display: none;
}

.mini-text {
    font-size: var(--font-smaller);
    color: var(--light-text-color);
}

.primary-button {
    font-size: var(--font-small);
    padding: 0.9em 2em;
    height: auto;
    width: fit-content;
    border-radius: 2em;
    transition: var(--trans-background-color);
    background-color: var(--primary-color);
    color: var(--white-color);

}

.primary-button:hover {
    background-color: #587a5c;
}

/*fin*/

/*header*/
:where(.off-canva, header) li>a {
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
}

/*header top*/
.header-top .wrapper {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}

.header-top .wrapper ul {
    gap: 2em;
}

.header-top li {
    position: relative;
}

.header-top ul ul {
    position: absolute;
    left: -1em;
    line-height: 2em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    display: none;
}

:where(.header-top, .thetop-nav) .right ul ul li a {
    padding: 0.25em 1em;
}

:where(.header-top, .thetop-nav) .right ul ul li.current a {
    background-color: var(--border-color);
}

.header-top li:hover ul {
    display: block;
}

/*fin*/

/*header nav*/
.trigger {
    font-size: 1.5em;
    display: flex;
    padding: 0.25em;
    margin-right: 0.5em;
}

.logo a {
    font-size: 1.75em;
    position: relative;
    font-weight: var(--fw8);
    display: flex;
    padding-left: 0.75em;
    margin-right: 2em;
}

.header-nav nav>ul {
    line-height: 100px;
    gap: 2em;
}

.fly-item {
    position: absolute;
    height: 16px;
    font-size: var(--font-smaller);
    padding: 3px;
    text-align: center;
    line-height: 10px;
    color: var(--white-color);
}

nav .fly-item {
    top: 50%;
    margin-top: -24px;
    width: 30px;
    border-radius: 3px;
    right: -32px;
    background-color: var(--primary-color);

}

.header-nav .right {
    position: relative;
    margin-left: auto;
}

.header-nav .right .icon-large {
    position: relative;
}

.header-nav .right .fly-item {
    top: 0;
    right: 16px;
    width: 16px;
    background-color: var(--second-dark-color);
    border-radius: var(--porcentaje50);
}

/*fin*/


/*header principal*/
.header-main {
    background-color: var(--second-dark-color);
    padding: 1.5em 0;
    margin-bottom: 2em;
}

.dpt-cat {
    position: relative;
    z-index: 10;
}

.dpt-cat .dpt-head {
    position: relative;
    width: 300px;
    padding: 0.75em 1.5em;
    background-color: var(--primary-color);
    border-radius: 7px 7px 0 0;
    color: var(--white-color);
    margin-bottom: -2.15em;
}

.dpt-cat .dpt-head .mini-text {
    color: var(--light-bg-color);
}

.dpt-cat .dtp-trigger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.3em;
    height: 60px;
    width: 60px;
}

.dpto-menu>ul>li>a {
    font-size: var(--font-small);
    height: 46px;
    align-items: center;
}

.dpto-menu .has-child:hover ul {
    display: block;
}

.dpto-menu .partes ul,
.maquinas ul,
.prod ul,
.Prendas ul,
.equipos ul {
    background-image: url(/tienda/img-tienda/bck-white..jpg);
}

.dpto-menu .has-child li a:hover {
    text-decoration: underline;
    color: #9ca0a3;
}

/*barra de buscar*/
.header-main .right {
    flex: 1;
}

form {
    position: relative;
}

form.search input {
    line-height: 3.25em;
    padding: 0 7em 0 4.5em;
    border: 0;
    width: var(--porcentaje100);
    border-radius: 7px;
    font-size: 0.9em;
    font-weight: var(--fw3);
}

form.search :where(span, button) {
    position: absolute;
    top: 0;
    padding: 0.55em 1.5em;
    font-size: 1em;
    color: var(--light-text-color);
    height: var(--porcentaje100);
}

form.search button {
    right: 0;
    border: 0;
    outline: 0;
    font-size: 0.875em;
    font-weight: var(--fw5);
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    transition: var(--trans-background);
}

form.search button:hover {
    background-color: var(--dark-color);
}

/*fin-barra-de-busqueda*/
/*fin-header-principal*/

/*menu responsive*/
.site-off {
    position: fixed;
    width: 320px;
    height: var(--porcentaje100);
    background-color: var(--white-color);
    overflow-y: auto;
    z-index: 1000;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform .4s visibility .4s;
    will-change: transform, visibility;

}

.showmenu .site-off {
    transform: translateX(0);
    visibility: visible;
    transform: transform .4s 0s, visibility 0s 0s;
}

.off-canva {
    width: var(--porcentaje100);
    height: var(--porcentaje100);
    touch-action: auto;
    padding: 1.5em;
}

.off-canva .canva-head {
    color: var(--white-color);
    justify-content: space-between;
    padding: 1.5em;
    margin: -1.5em -1.5em 1.5em;
    background-color: var(--second-dark-color);
    border-bottom-right-radius: 160px 25px;
}

.off-canva .canva-head .logo {
    z-index: 10;
    position: relative;
}

.t-close {
    font-size: 1.25em;
    width: 32px;
    height: 32px;
    border-radius: var(--porcentaje50);
    background-color: var(--second-dark-color);
    color: var(--white-color);
    transition: var(--trans-background-color);
}

.t-close:hover {
    background-color: var(--white-color);
    color: var(--second-dark-color);
    opacity: .75;

}

.off-canva .dpt-head {
    font-size: var(--font-small);
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    background-color: var(--light-bg-color);
    border-radius: 7px 7px 0 0;
}

.off-canva .has-child> :where(ul, .mega) {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    line-height: 20px;
    padding-left: 3em;

    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.off-canva .expand> :where(ul, .mega) {
    max-height: 2000px;
}

.off-canva .thetop-nav ul,
.off-canva nav>ul {
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-small);
    line-height: 36px;
    margin: 1.25em 0;
    padding-top: 1.25em;
    border-top: 1px solid var(--border-color);

}

.off-canva .has-child .icon-small {
    position: 0.5em;
    line-height: initial;
}

.off-canva .has-child .icon-small i {
    transform: rotate(90deg);
}

.off-canva .has-child {
    width: var(--porcentaje100);
}

.off-canva .thetop-nav .right>ul> :where(:nth-child(5), li:nth-child(4))>a {
    display: none;
}

.off-canva .thetop-nav .right ul ul {
    display: flex;
    flex-direction: row;
}

.off-canva .thetop-nav .right ul ul li a {
    padding: 0.5em;
    border: 1px solid var(--border-color);
    line-height: 16px;
    margin: 0 0.5em 0.5em 0;
}

/*fin-menu-responsive*/

/*fin-header*/


/*slider*/

.slider .item {
    position: relative;
    height: 474px;
}

/*.slider .item::before {
    content: '';
    position: absolute;
    top: 30%;
    left: 0;
    width: 430px;
    height: 300px;
    background-color: var(--white-color);
    z-index: 1;
    filter: blur(50px);
    opacity: .8;
}*/

.slider .text-context {
    position: relative;
    height: var(--porcentaje100);
    /*justify-content: flex-end;*/
    padding: 0 0 10% 36%;
    z-index: 1;
    top: -350px;
    right: 250px;
}

.text-context :where(h2, h3) span:first-child {
    font-weight: var(--fw3);
    columns: var(--light-text-color);

}

.text-context :where(h2, h3) span:last-child {
    color: var(--second-dark-color);
    text-transform: uppercase;
    letter-spacing: -1px;
}

/*fin-slider*/


/*responsive*/
@media screen and (min-width: 992px) {
    .container-tienda {
        padding: 0 2em;
    }

    .desktop-hide {
        display: none;
    }

    .mobile-hide {
        display: block;
    }

    .logo a {
        margin-right: 2em;

    }

    .header-nav {
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }

    .header-main .right {
        max-width: 600px;
        margin-left: auto;
    }

    /*dept menu*/
    .dpto-menu {
        position: absolute;
        top: var(--porcentaje100);
        width: 300px;
        background-color: var(--white-color);
        border: 1px solid var(--border-color);
        border-top: 0;
        border-bottom: 0;

    }

    .dpto-menu>ul>li>a {
        font-weight: var(--fw5);
        padding: 0 1.5em;
        border-bottom: 1px solid var(--border-color);
    }

    .dpto-menu .has-child ul {
        position: absolute;
        top: 0;
        left: var(--porcentaje100);
        width: var(--porcentaje100);
        height: auto;
        min-height: var(--porcentaje100);
        padding: 1.5em;
        font-size: var(--font-small);
        line-height: 2.5em;
        border: 1px solid var(--border-color);
        border-top: 0;
        display: none;
    }

    /*ensenando el sub-menu*/
    .dpto-menu .has-child {
        display: block;
    }

    /*slider*/
    .slider>div>.wrapper {
        width: calc(100% - (300px + 2em));
        margin-left: auto;
        margin-right: 10px;
    }

    /*fin*/
}

/*para que no se vea el header-top*/
@media screen and (max-width: 992px) {

    .header-top {
        display: none;
    }

    /*texto del slider*/
    .slider .text-context {
        position: relative;
        height: var(--porcentaje100);
        /*justify-content: flex-end;*/
        padding: 0 0 10% 36%;
        z-index: 1;
        top: -350px;
        right: 250px;
        margin-left: 20px;
    }

    .text-context :where(h2, h3) span:first-child {
        font-size: 20px;
        font-weight: var(--fw3);
        columns: var(--light-text-color);

    }

    .text-context :where(h2, h3) span:last-child {
        color: var(--second-dark-color);
        text-transform: uppercase;
        letter-spacing: -1px;
    }
}

/*para que se vea el texto del slider*/
@media screen and (max-width: 655px) {

    /*texto del slider*/
    .slider .text-context {
    top: -250px;
    right: 170px;
    }

    .text-context :where(h2, h3) span:first-child {
        font-size: 30px;
        font-weight: var(--fw3);
        columns: var(--light-text-color);
    
    }
    
    .text-context :where(h2, h3) span:last-child {
        font-size: 50px;
    }

    .text-context .primary-button {
        display: none;
    }
}

@media screen and (max-width: 416px) {

    .slider .text-context {
       display: none;
        }
}


/*fin*/